body {
    margin: 0px;
    background-color: rgb(128, 118, 163);
    color: rgb(128, 118, 163);
}
.page {
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #99CCFF;
}
hr{
    margin-top: 0;
}
.tupian {
    text-align: center;
    vertical-align:middle;
}
.tupian h1{
    font-size:50px;
    font-weight:bolder;
}
.tupian img{
    height: 300px;
    width: 300px;
    
}
.grxx {
    text-indent: 2em;
    font-size: 18px;
}