body {
    margin: 0px;
    padding: 0px;
    background-color: #d8e3e7;
}

#page {
    margin: 55px 15% 0px 15%;
    padding: 30px;
    background-color: #99CCFF
    ;
}
/* #bkinfo  */

#bkimg {
    text-align: center;
    padding: 10px;
}

#bkname {
 padding: 25px;
}

.bk {
    width: 100%;
}
.bk p {
    padding: 20px;
    text-indent:2em;
}
.bkyw p{
    text-indent:2em;
    padding: 10px 20px 0 20px;
}
