.home_head { 
    width: 100%;
    height: 55px;
    font-size: 16px;
    position: fixed;
    top: 0;
    background-color: #ccccd6;
}

.daohang a {
    text-decoration: none;
    /* color:#93b5cf; */
    font-size: 26px;
}
.daohang a:link{color:white}
.daohang a:visited{color: #66CCFF; }
.daohang a:hover{color:aquamarine;text-decoration:underline;}
.daohang a:active{color:#ccccd6;}

/* 版权 */
.copy {
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}
.copy_sub{
    margin: 0px;
}

