body {
    margin: 0px;
    padding: 0px;
    background-color: #d8e3e7;
 
}
#page {
    margin: 55px 15% 0 15%;
    height: auto;
    padding: 0 20px 50px 20px; 
    background-color: #99CCFF;
   
}
.bt {
    color: #d8e3e7;
    margin-bottom: 20px;
}
#img1{
    width: 30%;
}
#img1 img {
    width: 300px;
}
.box {
    margin: 0px;
    padding: 30px;
    color:#d8e3e7;
    background-color:rgb(128, 118, 163);
}

#dpimg {
    padding: 15px;
}

.td1 {
    /* width: 1000px; */
    text-align: center;
   
}
.td1 img {
    width: 100%;
}
.td2 {
    background-color: #000;
}
.td2 img{
    width: 330px;
}



#video1 {
    width: 100%;
    text-align: center;
}
