body {
    margin: 0%;
    padding: 0px;
    background-color:#93b5cf;
}

.daohang a {
    text-decoration: none;
    color:#93b5cf;
    font-size: 26px;
}

body {
    margin: 0%;
    padding: 0px;
    background-color:#93b5cf;
    color: #d8e3e7;
}

#doc {
    margin-left: 15%;
    margin-right: 15%;
    padding: 30px;
    /* width: ; */
    background-color: rgb(128, 118, 163);
}
.foot {
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 10px;
    /* width: ; */
    background-color: rgb(128, 118, 163);
}